{{ use('app/assets/JqtreeAsset') }}
{{ register_jqtree_asset() }}
{{ set(this, 'params', {'breadcrumbs': [{
       'label': t('app', 'Tables'),
       'url': url(['table/index'])
   }, t('app', 'Update'), item_tree['id']]})
}}

<h1>{{ t('app', 'Update') }} {{ item_tree['name'] }}</h1>

<style>
    #item-tree {
        padding-left: 56px;
    }
</style>

<div class="row" style="position: relative">
  <div class="col-md-4">
    <div class="well">
      <form>
        <legend>{{ t('app', 'Properties') }}</legend>
        <fieldset class="current">
          <div class="form-group">
            <label for="Item_path">{{ t('app', 'Path') }}</label>
            <input class="form-control" id="Item_path" readonly>
          </div>
          <div class="form-group">
            <label for="Item_name">{{ t('app', 'Name') }}</label>
            <input type="hidden" id="Item_id" name="Item[id]">
            <input class="form-control" id="Item_name" name="Item[name]">
          </div>
          <button type="button" class="btn btn-primary"data-loading-text="{{ t('app', 'Saving') }}...">{{ t('app', 'Save') }}</button>
          <button type="button" class="btn btn-danger" data-loading-text="{{ t('app', 'Deleting') }}...">{{ t('app', 'Delete') }}</button>
        </fieldset>
        <legend>{{ t('app', 'Create child node') }}</legend>
        <fieldset class="new-child">
          <div class="form-group">
            <label for="Item_name">{{ t('app', 'Name') }}</label>
            <input class="form-control" id="Item_name" name="Item[name]">
          </div>
          <button type="button" data-loading-text="{{ t('app', 'Creating...') }}" class="btn btn-primary">{{ t('app', 'Create') }}</button>
        </fieldset>
      </form>
    </div>
  </div>
  
  <a type="button" class="btn btn-add btn-xs btn-success" href="{{ url({0: 'table/view', id: item_tree['id']}) }}" style="position: absolute; z-index: 1">
    {{ t('app', 'View') }}
  </a>
  <div class="col-md-8" id="item-tree"></div>

</div>


{{ void(this.beginBlock('table_edit_js')) }}
    var $currentItemPath = $('#Item_path');
    var $currentItemName = $('fieldset.current #Item_name');
    var $currentItemId = $('fieldset.current #Item_id');
    var $newChildName = $('fieldset.new-child #Item_name');
    var treeData = {{ item_tree | json_encode() | raw }};
    $itemTree = $('#item-tree');
    $itemTree.tree({data: [treeData]});
    $itemTree.on('tree.click', function(event) {
        // The clicked node is 'event.node'
        var node = event.node;
        $currentItemName.val(node.name);
        $currentItemPath.val(node.path.substring(node.path.indexOf('\\') + 1));
        $currentItemId.val(node.id);
    });
    $newChildName.on('keyup', function (e) {
        if (e.keyCode == 13) {
            appendChild($('fieldset.new-child .btn-primary'));
        }
    });
    $('fieldset.new-child .btn-primary').on('click', function() {
        appendChild($(this));
    });
    function appendChild($btn) {
       if (!$currentItemId.val()) return;
       $btn.button('loading');
       $.ajax({
           url: '{{ url(['table/ajax-create-item']) | raw }}',
           method: 'post',
           dataType: 'json',
           data: 'name={name}&parent_id={parent_id}'
               .replace('{name}', $newChildName.val())
               .replace('{parent_id}', $currentItemId.val()),
           success: function(data, textStatus, jqXHR) {
               var parentNode = $itemTree.tree('getNodeById', $currentItemId.val());
               $itemTree.tree('appendNode', {
                   id: data.id,
                   name: $newChildName.val(),
                   path: data.path,
                   parent_id: parentNode.id
               }, parentNode);
               $newChildName.val('');
           },
           complete: function() {
               $btn.button('reset');
           }
       });
    }
    $('fieldset.current .btn-primary').on('click', function() {
       var toUpdateName = $currentItemName.val();
       var toUpdateId = $currentItemId.val();
       if (!toUpdateId || !toUpdateName) return;
       var $btn = $(this).button('loading');
       $.ajax({
           url: '{{ url(['table/ajax-update-item']) | raw }}?id=' + toUpdateId,
           method: 'post',
           data: 'name=' + toUpdateName,
           dataType: 'json',
           success: function(data, textStatus, jqXHR) {
               var node = $itemTree.tree('getNodeById', toUpdateId);
               $itemTree.tree('updateNode', node, {
                   name: toUpdateName,
                   path: data.path
               });
               $currentItemPath.val(node.path.substring(node.path.indexOf('\\') + 1));
           },
           complete: function() {
               $btn.button('reset');
           }
       });
    });
    $('fieldset.current .btn-danger').on('click', function() {
       var toDelete = $currentItemId.val();
       if (!toDelete) return;
       var $btn = $(this).button('loading');
       $.ajax({
           url: '{{ url(['table/ajax-delete-item']) | raw }}',
           method: 'post',
           dataType: 'json',
           data: 'id={id}'
               .replace('{id}', toDelete),
           success: function(data, textStatus, jqXHR) {
               var node = $itemTree.tree('getNodeById', toDelete);
               $itemTree.tree('removeNode', node);
               $currentItemPath.val('');
               $currentItemName.val('');
               $currentItemId.val('');
           },
           complete: function() {
               $btn.button('reset');
           }
       });
    });
{{ void(this.endBlock()) }}

{{ this.registerJs(this.blocks['table_edit_js'], constant('POS_LOAD', this)) }}
