{{ use('yii/grid/GridView') }}
{{ use('yii/widgets/Pjax') }}

{{ set(this, 'params', {'breadcrumbs': [t('app', 'Tables')]}) }}

<h1>{{ t('app', 'Tables') }}</h1>


{% set buttons_tpl = '{view}' %}
{% if app.user().can('admin') %}
  <p>
    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-table">
      {{ t('app', 'New table') }}</button>
  </p>
  {% set buttons_tpl = buttons_tpl ~ '{update}{delete}' %}
{% endif %}

{{ pjax_begin({timeout: 20000, id: 'tables'}) }}
{{ grid_view_widget({
    'dataProvider': dataProvider,
    'columns': [
        {'attribute': 'id', 'contentOptions': {'class': 'id'}},
        {'attribute': 'name'},
        {
            'class': 'yii\\grid\\ActionColumn',
            'contentOptions': {'class': 'actions text-center'},
            'buttonOptions': {'class': 'btn btn-default btn-xs'},
            'template': buttons_tpl 
        }
    ],
    'summaryOptions': {
        'class': 'pull-right',
        'tag': 'em'
    }
   })
}}
{{ pjax_end() }}

<div id="new-table" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ t('app', 'New table') }}</h4>
      </div>
      <form class="modal-body">
        <div class="form-group">
          <label class="control-label">{{ t('app', 'Table name') }}</label>
          <input maxlength="48" class="form-control" id="Item_name" name="Item[name]" type="text">
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{ t('app', 'Cancel') }}</button>
        <button type="submit" class="btn btn-primary" data-loading-text="{{ t('app', 'Adding...') }}">
          {{ t('app', 'Add table') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ void(this.beginBlock('table_index_js')) }}
function createTable($btn) {
    $btn.button('loading');
    $.pjax({
        type: 'post',
        url: '{{ url(['table/ajax-create-table']) | raw }}',
        data: $('#new-table').find('form').serialize(),
        container: '#tables', 
        push: false,
        replace: false,
        timeout: 20000,
    });
}
$('#tables').on('pjax:end', function(xhr, options) {
   $newTableBtn.button('reset');
   $('#new-table').modal('hide');
});
$('input[name="Item[name]"]').on('keyup', function(e) {
    if (e.keyCode == 13) {
        createTable($('#new-table [type="submit"]'));
    }
});
var $newTableBtn = $('#new-table [type="submit"]');
$newTableBtn.on('click', function() {
    createTable($newTableBtn)
});
$('#tables').on('click', '.table .actions a[href*="table/delete"]', function(e) {
    $btn = $(this);
    var href = $btn.attr('href');
    var id = href.substring(href.lastIndexOf('/') + 1);
    $.pjax({
        url: '{{ url(['table/ajax-delete-item']) }}',
        type: 'POST',
        data: 'id={id}'.replace('{id}', id),
        container: '#tables', 
        push: false,
        replace: false,
        timeout: 20000,
        maxCacheLength: 0,
    });
    return false;
});
{{ void(this.endBlock()) }}

{{ this.registerJs(this.blocks['table_index_js'], constant('POS_READY', this)) }}
