{{ use('yii/grid/GridView') }}

{{ set(this, 'params', {'breadcrumbs': [t('app', 'Tables')]}) }}

<h1>{{ t('app', 'Tables') }}</h1>


{% set buttons_tpl = '{view}' %}
{% if app.user().can('admin') %}
  <p>
    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-table">
      {{ t('app', 'New table') }}</button>
  </p>
  {% set buttons_tpl = buttons_tpl ~ '{update}{delete}' %}
{% endif %}

{{ grid_view_widget({
    'dataProvider': dataProvider,
    'columns': [
        {'attribute': 'id', 'contentOptions': {'class': 'id'}},
        {'attribute': 'name'},
        {
            'class': 'yii\\grid\\ActionColumn',
            'contentOptions': {'class': 'actions text-center'},
            'buttonOptions': {'class': 'btn btn-default btn-xs'},
            'template': buttons_tpl 
        }
    ],
    'summaryOptions': {
        'class': 'pull-right',
        'tag': 'em'
    }
   })
}}

<div id="new-table" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ t('app', 'New table') }}</h4>
      </div>
      <form class="modal-body">
        <div class="form-group">
          <label class="control-label">{{ t('app', 'Table name') }}</label>
          <input maxlength="48" class="form-control" id="Item_name" name="Item[name]" type="text">
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{ t('app', 'Cancel') }}</button>
        <button type="submit" class="btn btn-primary" data-loading-text="{{ t('app', 'Adding...') }}">
          {{ t('app', 'Add table') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ void(this.beginBlock('table_index_js')) }}
$('input[name="Item[name]"]').on('keyup', function(e) {
    if (e.keyCode == 13) {
        createTable($('#new-table [type="submit"]'));
    }
});
$('#new-table [type="submit"]').on('click', createTable($(this)));

function createTable($btn) {
    $btn.button('loading');
    $.ajax({
        method: 'post',
        url: '{{ url(['table/ajax-create-table']) | raw }}',
        data: $('#new-table').find('form').serialize(),
        success: function() {
            location.reload();
        },
        complete: function() {
            $btn.button('reset');
        }
    });
}
{{ void(this.endBlock()) }}

{{ this.registerJs(this.blocks['table_index_js'], constant('POS_READY', this)) }}
