{{ use('yii/widgets/LinkPager') }}
{{ set(this, 'params', {'breadcrumbs': [t('app', 'Tables')]})
}}

<h1>{{ t('app', 'Tables') }}</h1>
<ul>
{% for item in items %}
  <li>
    {{ html.a(html.encode(item.name), url('table/view', {'id': item.id})) | raw }}
  </li>
{% endfor %}
</ul>

{{ link_pager_widget({'pagination': pagination}) }}
