{{ use('yii/widgets/LinkPager') }}

<h1>{{ table_title }}</h1>
<table class="table table-bordered text-center">
  {% for level, row in table %}
    <tr>
      {% for parent_id, item in row %}
        <th colspan="{{ item['no_leaves'] }}" rowspan="{{ item['span_levels'] }}" class="bottom-column">
          {{ item['name'] }}
        </th>
      {% endfor %}
    </tr>
  {% endfor %}
  {% for group in groups %}
    <tr>
      {% for reading in group['itemReadingsExtended'] %}
        {% if reading['count'] is defined %}
          <td>
            {{ reading['count'] }}
          </td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>

{{ link_pager_widget({'pagination': pagination}) }}
